
.specials header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specials header h3 {
    font-family: "Markazi Text", serif;
    font-size: 2.5rem;
}

.specials header a {
    font-size: .9rem;
    font-weight: 600;
    background-color: #F4CE14;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.specials header a:hover {
    background-color: #bea110;
}

.specials header a:active {
    background-color: #F4CE14;
    padding: .4rem .9rem;
    border: solid .1rem #eee09c;
}

.specials__mainContent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.specials__mainContent article {
    background-color: #EDEFEE;
    width: 30%;
    min-width: 200px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.specials__mainContent img {
    height: 35%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.specials .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    height: calc(100% - 35% - 2rem);
}

.specials .card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specials__mainContent h4 {
    font-family: "Markazi Text", serif;
    font-size: 1.2rem;
    margin: 0;
}

.specials .card header span {
    font-size: .9rem;
    color: rgb(250, 82, 82);
}

.specials__mainContent p {
    font-size: .8rem;
    min-height: 100px;
    color: rgb(92, 92, 92);
}

.specials .card footer {
    font-size: .8rem;
    font-weight: 700;
    padding: 0;
    cursor: pointer;
}
