/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    font-family: "Karla", serif;
    background-color: #EDEFEE;
    padding: 1rem 2rem;
    transition-duration: .2s;
}

footer nav, footer section {
    margin-right: 1rem;
}

footer h3 {
    font-size: 1rem;
    margin-top: 0;
}

footer li, footer p {
    font-size: .7rem;
    margin: 0;
}

footer a:hover {
    color: #F4CE14;
}

@media all and (min-width: 1000px) {
    footer {
        padding: 1rem 12rem;
        transition-duration: .2s;
    }
}
