* {
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    margin: 0 1rem;
}

a {
    color: black;
    text-decoration: none;
}

/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    font-family: "Karla", serif;
    font-weight: 600;
}

/* Header */
header {
    background-color: #495E57;
    padding: 2rem;
}

header h1 {
    font-family: "Markazi Text", serif;
    font-size: 4rem;
    color: #F4CE14;
    margin: 0;
}
header h2 {
    font-family: "Markazi Text", serif;
    font-size: 2.5rem;
    color: white;
    margin: 0;
}

header p {
    font-family: "Karla", serif;
    color: white;
}

/* Main */
main {
    padding: 2rem;
}

main h2 {
    font-family: "Karla", serif;
    font-size: 1.2;
    font-weight: 1000;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #495E57;
    padding: 1rem 2rem;
}

footer h3 {
    margin-top: 0;
}

