/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    transition-duration: .2s;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    font-family: "Karla", serif;
    font-weight: 600;
}

@media all and (min-width: 1000px) {
    .navbar {
        padding: 1rem 12rem;
        transition-duration: .2s;
    }
}
